[Unit]
Description=rc auto start rc start
After=network-online.target
[Service]
User=robocon
Type=simple
#Type=forking
ExecStart=/bin/bash -c "~/rc_start.sh"
[Install]
WantedBy=multi-user.target