<launch>
    <arg name="robot_type" default="$(env ROBOT_TYPE)" doc="Robot_type [rabbit,elephant]"/>
    <arg name="load_controller" default="true"/>
    <arg name="load_hw" default="true"/>
    <arg name="load_decision" default="true"/>
    <arg name="load_radar" default="true"/>

    <rosparam file="$(find rc_config)/config/rc_control/rc_hw/$(arg robot_type).yaml" command="load"/>
    <rosparam file="$(find rc_config)/config/rc_controllers/$(arg robot_type).yaml" command="load"/>
    <rosparam file="$(find rc_config)/config/rc_decision/$(arg robot_type).yaml" command="load"/>

    <include if="$(arg load_hw)" file="$(find rc_config)/launch/rc_hw.launch"/>
    <include if="$(arg load_controller)" file="$(find rc_config)/launch/load_controllers.launch"/>
    <include if="$(arg load_decision)" file="$(find rc_decision)/launch/control_loop.launch"/>
    <include if="$(arg load_radar)" file="$(find urg_node)/launch/urg_lidar.launch"/>
</launch>